# Python
/collector/venv
/collector/.env
/collector/.env.local
/collector/markets.sql
/collector/Usage.rtf
/collector/market_data
/collector/Kalshi_market_data
/collector/polymarket_tokens.csv

/collector/__pycache__

# macOS
.DS_Store

# Logs
*.log